<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ Pyegramming }}</title>
        <link rel="stylesheet" href="/css/site.css" />
    </head>
    <body>
        <header class="site-header">
            <nav class="nav">
                <a class="brand" href="/">Pyegramming</a>
                <div class="spacer"></div>
                <a href="/dev/">Dev Notes/a>
                <a href="/books/">Books</a>
                <a href="/learning/">Learning</a>
                <a href="/daily-log/">Daily-log</a>
            </nav>
        </header>

        <main class="container">{{ content }}</main>

        <footer class="site-footer">
            <small>&copy; {{ "now" | date: "%Y" }} Jayson Pye</small>
        </footer>
    </body>
</html>
