<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ Pyegramming }}</title>
        <link rel="stylesheet" href="/css/base.css" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/css/site.css" />
    </head>
    <body>
        <header class="site-header">
            <nav>
                <a class="brand link-btn" href="/">Pyegramming</a>
                <div class="spacer"></div>
                <a class="link-btn" href="/tags/dev/">Dev Notes</a>
                <a class="link-btn" href="/tags/books/">Books</a>
                <a class="link-btn" href="/tags/japanese">Japanese</a>
                <a class="link-btn" href="/daily-log/">Daily-log</a>
            </nav>
        </header>

        <main class="container">{{ content }}</main>
    </body>
</html>
